<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
  </head>
  <body>
    <a href="/addproduct" target="_self">Add new product</a>
    <h1>All products :</h1>
    <hr />
    <% for (let product of products) { %>
    <h1><%= product?.title %></h1>
    <h3><%= product?.color %></h3>
    <p><%= product?.price %> $</p>
    <hr />
    <% } %>
  </body>
</html>
